.box {
    height: 10px;
    display: block;
    background-color: red;
}

.message-error {
    background-color: red;
    color: white;   
}

.message-error2{
    background-color: red;
    color: white;
    opacity: 0 ;
    transition: all linear .5s;
}
.message-error2.show{
    opacity: 1;
}